/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
  }
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

p{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: 'Lato', Verdana, Helvetica, sans-serif; */
    font-size: 15px;
}
h3{
    color: #000000;
}
ul.i_table{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.i_table li{
    margin-bottom: 20px;  
}

p.intro{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
p.bio{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px;
}
p.pub {
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-size: 14px; */
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
}
p.author {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 14px;
  margin-top: 0px;
  margin: 0px;
}
span.date{
    float: right;
    padding-right: 10px;
    color: brown;
}
span.note {
  color: brown;
}
p.text-muted{
  font-size: 14px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
code {
  font-size: 70%;
}
/* 
.link {
  color: #002199 !important;  */
  /* color: #1560bd !important;  */
  /* color: #0047ab !important; 
}
 */

/* Open-Source Projects Styles */
.project-list {
  margin-top: 20px;
}

.project-item {
  display: flex;
  margin-bottom: 30px;
  padding: 15px;
  background-color: transparent;
  border-radius: 0;
}

.project-logo {
  width: 80px;
  height: 80px;
  min-width: 80px;
  background-color: #f8f9fa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 10px;
}

.project-content {
  flex: 1;
}

.project-name {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #333;
}

.project-description {
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 10px 0;
  color: #555;
}

.project-links {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.project-links .link {
  margin-right: 0;
}

.project-badges {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.project-badges .badge {
  display: inline-block;
  padding: 4px 10px;
  background-color: #e9ecef;
  border-radius: 4px;
  font-size: 13px;
  color: #495057;
  font-weight: 500;
}

.project-badges img {
  height: 20px;
  margin-left: 0;
}
